<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        
        <add name="Mass.Data.Properties.Settings.maas_novoConnectionString1"
            connectionString="Data Source=MAAG\SQLEXPRESS;Initial Catalog=maas_novo;User ID=test;Password=1234567"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>